<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Theorem Assignment">
        <meta name="author" content="Niket Nishi">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{% static 'image/favicon-16x16.png' %}" type="image/gif">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
        {% block styleexternal %}{% endblock %}
        <style>{% block style %}{% endblock %}</style>
        {% block jsexternal %}{% endblock %}
        <script>{% block jsinline %}{%endblock %}</script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-secondary navbar-dark fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="headerNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                    </ul>
                </div>
                <span id="user_fa">
                    <a href="#"><i class="fa fa-user"></i></a>
                </span>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <nav class="navbar navbar-expand-sm bg-secondary navbar-dark fixed-bottom">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#footerNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="footerNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" target="_blank" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_blank" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_blank" class="nav-link"><i class="fa fa-youtube fa-lg"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_blank" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>
